//solarized
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;
html {
  body {
    background: $base3;
    div.jumbotron {
      padding: 10px;
      border-radius: 0;
      background: $base02;
      color: $base3;
      text-align: center;
      p {
        color: $cyan;
      }
    }
    div.article {
      margin-left: auto;
      margin-right: auto;
      padding: 10px;
      div.text {
        h1#title {
          color: $base02;
        }
        hr {
          border-top: 1px solid $cyan;
        }
        p#article-text {
          color: $base02;
          font-size: 26px;
          line-height: 1.5em;
        }
        p#article-text-index {
          font-size: 16px;
          color: $cyan;
        }
      }
      div.selector {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding-top: 200px;
        color: $base02;
        font-size: 65px;
      }
    }
  }
}
