//solarized
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;
//colors
$black:     #000000;
$white:     #FFFFFF;

html {
  body {
    font-family: Verdana sans-serif;
    background: $base3;
    div.jumbotron {
      padding: 10px;
      border-radius: 0;
      background: $base3;
      color: $black;
      text-align: center;
      p {
        color: $black;
      }
    }
    div.app {
      div.paste-bin {
        width: 600px;
        text-align: center;
        input {
        }
      }
      div.article {
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        display: none;
        div.text {
          h1#title {
            color: $black;
          }
          hr {
            border-top: 1px solid $black;
          }
          p#article-text {
            color: $black;
            font-size: 26px;
            line-height: 1.5em;
          }
          p#article-text-index {
            font-size: 16px;
            color: $cyan;
          }
        }
        div.selector {
          text-align: center;
          margin-left: auto;
          margin-right: auto;
          padding-top: 200px;
          color: $black;
          font-size: 65px;
          cursor: pointer;
        }
      }
    }
  }
}
